@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255; */
    /* --background-start-rgb: 255, 255, 255; */
    /* --background-end-rgb: 255, 255, 255; */
  }
}

@font-face {
  font-family: "Pretendard";
  font-display: swap;
  font-weight: 300;
  src:
    url("/assets/fonts/Pretendard-Light.woff2") format("woff2"),
    url("/assets/fonts/Pretendard-Light.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-display: swap;
  font-weight: 500;
  src:
    url("/assets/fonts/Pretendard-Medium.woff2") format("woff2"),
    url("/assets/fonts/Pretendard-Medium.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-display: swap;
  font-weight: 700;
  src:
    url("/assets/fonts/Pretendard-Bold.woff2") format("woff2"),
    url("/assets/fonts/Pretendard-Bold.woff") format("woff");
}

body {
  width: 390px;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  color: #000;
  font-family: Pretendard, "system-ui", sans-serif;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
